.product-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    flex: 1;
}


.see-more-btn {
    padding: 0.4rem 1.5rem;
    font-size: 0.95rem;
    cursor: pointer;
    background: transparent;
    border: 1px solid #222;
}

.see-more-container {
    justify-self: center;
}


.product-section {
    margin-top: 2rem;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 2rem;
    justify-content: center;

    padding: 0 1rem;


}

.section-title {
    justify-self: center;
    font-size: 1.5rem;

}